
<%= form_for(@brick) do |f| %>
  
  <fieldset>
    <legend>Brick Info</legend>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
  </fieldset>
  
  <%= f.fields_for :brickizations do |brick| %>
    <%= render "shared/value_info_form", :f => brick %>
  <% end %>
  
  <p><%= f.submit %></p>
  
<% end %>